<div class="nuevos-datos-section mb-5">
    <h6 class="mb-0">Nuevos Datos</h6>

    <div class="items-menu-container mt-3">
      <ul>
        <li>
          <a href="/admin_datos/agregar_parcela"><i class="fa fa-database"></i> &nbsp  Agregar Nueva Parcela</a>
        </li>
      </ul>

    </div>

  </div>

  <div class="nuevos-datos-section mb-5">
    <h6 class="mb-0">Actualizar Datos</h6>

    <div class="items-menu-container mt-3">
      <ul>
        <li>
          <a href="/admin_datos/actualizar_productor"><i class="fa fa-database"></i> &nbsp Productor</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_parcela"><i class="fa fa-database"></i> &nbsp Parcela</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_estudio_suelo"><i class="fa fa-database"></i> &nbsp Estudio de Suelo</a>
        </li>
      </ul>

    </div>

  </div>

  <div class="nuevos-datos-section mb-5">
    <h6 class="mb-0">Actualizar Categorías</h6>

    <div class="items-menu-container mt-3">
      <ul>
        <li>
          <a href="/admin_datos/actualizar_codigo_venta" class="a-codigo-venta"><i class="fa fa-database"></i> &nbsp Código de Venta</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_variedad"><i class="fa fa-database"></i> &nbsp Variedad</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_sello"><i class="fa fa-database"></i> &nbsp Sello</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_cuenca_hidrografica"><i class="fa fa-database"></i> &nbsp Cuenca Hidrografica</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_comite"><i class="fa fa-database"></i> &nbsp Comite</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_caserio"><i class="fa fa-database"></i> &nbsp Caserio</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_corredor"><i class="fa fa-database"></i> &nbsp Corredor</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_zona"><i class="fa fa-database"></i> &nbsp Zona</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_promotor"><i class="fa fa-database"></i> &nbsp Promotor</a>
        </li>
        <li>
          <a href="/admin_datos/actualizar_extensionista"><i class="fa fa-database"></i> &nbsp Extensionista</a>
        </li>
        
      </ul>

    </div>

  </div>
