:root {
    --theme-default: #29A847;
    --color-primary: #29A847;
    --color-secondary: #041007;
    --color-alternative: #FB6107;

}

::-webkit-scrollbar {

    width: 6px;
    height: 6px;
    cursor: pointer;
}

/* button */
::-webkit-scrollbar-button {
    display: none;
}

/* Bar */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
  background: rgba(0, 0, 0, 0.02);
  border-radius: 1rem;
  /*background: #f8f9fe;*/
  /*border-radius: 10px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 1rem;
  /*border-radius: 10px;*/
  
}

::selection{
	background-color: var(--color-primary);

}

input:focus{
    outline: transparent !important;
}

.control-info-container .onhover-dropdown{
    width: 100%;
}

.control-info-container .notification-box{
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.control-info-container .notification-dropdown{
    top: 40px;
    width: 300px;
    left: 5px;
    display: flex;
    flex-direction: column;
}

.control-info-container .notification-dropdown li{
    padding: 0.75rem 1rem;
    color: var(--color-secondary);
    border-bottom: 1px solid #F4F4F4;
}

.control-info-container .notification-dropdown li:hover{
    background: var(--color-primary);
}

.control-info-container .notification-dropdown li:hover i{
    color: #fff;
}

.control-info-container .notification-dropdown li:hover p{
    color: #fff;
    font-weight: 600;
}

.control-info-container .notification-dropdown li p{
    color: var(--color-secondary);

}

.control-info-container .notification-dropdown li i{
    color: var(--color-alternative);
}

.page-wrapper .page-header{
    z-index: 1000;
}

.checkbox-dark label::before{
    border-color: #CDCDCD;
}

.checkbox-dark input[type=checkbox]:checked + label::before{
    border-color: var(--color-alternative);
    color: #fff;
    font-weight: 700;
    line-height: 1.3;
    background-color: var(--color-alternative);
}

.page-wrapper.compact-wrapper .page-body-wrapper .page-body{
    margin-left: 0;
    padding: 0;
    margin-top: 57px;
}

.page-wrapper.compact-wrapper .page-header{
    margin-left: 0;
    width: 100%;
    z-index: 300;
}

@media screen and (max-width: 1469px) and (min-width: 1200px){
    .page-wrapper.compact-wrapper .page-body-wrapper .page-body {
        margin-left: 0;
    }

    .page-wrapper.compact-wrapper .page-header {
        margin-left: 0;
        width: 100%;
    }
}

.switch input:checked + .switch-state{
    background-color: var(--color-alternative);
}

.btn-primary{
    background-color: #29A847 !important;
    border-color: #29A847 !important;
    color: #fff;
}

.btn-alternative{
    background-color: #FB6107 !important;
    border-color: #FB6107 !important;
    color: #fff;
}


.form-control-plaintext::placeholder{
    color: #CDCDCD;
    font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-secondary);
}

.row > *{
    /* padding: 0; */
}

.datepicker--day-name{
    color: var(--color-alternative);
}

.card-body small{
    color:rgba(43, 43, 43, 0.7);
}

body,
.page-wrapper .page-body-wrapper{
    background-color: #F7FDF8;    
}

.page-body-wrapper{
    height: calc(100% - 77px);
    margin-left: 0rem;
    margin-right: 0rem;
    padding-top: 0.4rem;
}



.page-wrapper .page-header .header-wrapper .nav-right > ul > li:hover{
    background-color: var(--color-primary);
}

.page-wrapper .page-header .header-wrapper .nav-right > ul > li:last-child{
    background-color: transparent;
}

/* .daterangepicker .calendar,
.ranges{
    margin: 4px;
} */

/* .page-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
} */



 

.items-slider .icon{
    font-size: 1.5rem;
    color: #3e5fce;
}

.page-header{
    /* width: 40% !important; */
    right: 0;
}

.page-header .left-header .sidebar-link{
    margin-left: 2.5rem;
}

    .page-header .left-header .sidebar-link:nth-child(1){
        margin-left: 1.5rem;
    }

        .page-header .left-header svg{
            width: 16px;
            vertical-align: bottom;
            margin-right: 10px;
            stroke-width: 1.5px;
        }

        .page-header .left-header a{
            color: var(--color-secondary);
        }

        .page-header .profile-nav img{
            width: 10%;
        }

    .page-wrapper .page-header .header-wrapper{
        padding: 11px 15px;
    }

    .page-wrapper.horizontal-wrapper .header-logo-wrapper{
        /* width: auto; */
    }

        .logo-wrapper a img{
            width: 100%;
            /* filter: invert(1); */
        }



.page-wrapper.horizontal-wrapper .page-body-wrapper .page-body{
    margin-top: 70px;
    padding: 0 !important;
}

    .page-body .container-fluid{
        /* padding: 0; */
        color: var(--color-secondary);
    }

/* .page-body{
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin-top: 77px !important;
}

    .page-body .container-fluid{
        padding: 0;
        height: 100%;
        position: absolute;
        display: flex;
    }

        .page-body .container-fluid .section-map{
            height: 100%;
            width: 70%;

        }

        .page-body .container-fluid .section-map .card{
            width: 100%;
            height: 100%;
        }

        .page-body .container-fluid .section-info{
            height: 100%;
            width: 30%;
        }

            .page-body .container-fluid .section-info .card{
                width: 100%;
                height: 100%;
            }

    .page-body .card.no-radius{
        border-radius: 0;
    }

        .page-body .card.no-radius .card-header{
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        } */

.card .card-header h1,
.card .card-header h2,
.card .card-header h3,
.card .card-header h4,
.card .card-header h5{
    color: var(--color-secondary);

}

.badge-primary{
    background-color: var(--color-primary) !important;
}

footer{
    display: none;
}

.page-body-wrapper .sidebar-wrapper{
    overflow: hidden;
    display: none;
}


/* ----------------Estilos Mapa-------------------- */
#map{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 200;
}

.leaflet-control-container{
    display: none;
}

.border-tab.nav-primary .nav-item .nav-link.active, .border-tab.nav-primary .nav-item .nav-link.show, .border-tab.nav-primary .nav-item .nav-link:focus, .border-tab.nav-primary .nav-item .nav-link:hover{
    color: var(--color-alternative);
}

.border-tab.nav-primary .nav-item .nav-link.active, .border-tab.nav-primary .nav-item .nav-link.show, .border-tab.nav-primary .nav-item .nav-link:focus{
    border-bottom: 2px solid  var(--color-alternative);
}

.btn-primary{
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

@media screen and (max-width: 1660px) and (min-width: 1366px)
{
    .default-dash .recent-activi.card .card-body{
        padding: 20px !important;
    }
}

.map-section{
    
}

    .map-section .card{
        height: 100%;
        margin: 0;
    }

    .map-section .card-body{
        padding: 0;
        height: 100%;
    }

    .map-section .card-body .title-map-section{
        top:3%;
        left: 1.5%;
        z-index: 300;
        width: auto;
        color: #fff;
        padding: 1rem;
        background: rgba(255,255,255,1);
        border-radius: 10px;
    }

    .map-section .card-body .legend-section{
        bottom:3%;
        right: 1.5%;
        z-index: 300;
        width: auto;
        color: #fff;
        padding: 1rem;
        background: rgba(255,255,255,1);
        border-radius: 10px;
    }

    .map-section .card-body .legend-section .contenido > div{
        color: black;
        width: 100%;
        /*justify-content: space-evenly;*/
    }

    .map-section .card-body .title-map-section .widget-icon{
        width: 50px;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 100%;
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary);
    }

    .map-section .card-body .title-map-section .widget-icon i{
        color: #fff;
    }

    .map-section .card-body .title-map-section .title-text{
        margin-left: 1rem;
        color: var(--color-secondary);
    }

    .map-section .card-body .title-map-section h5,
    .map-section .card-body .title-map-section h6{
        color: var(--color-primary);
    }

    .map-section .card-body .title-map-section h5{
        /* font-weight: 300; */
        color: var(--color-secondary);
        margin-bottom: 0.5rem;
        letter-spacing: 0.1rem;
    }

    .map-section .card-body .title-map-section p{
        margin-bottom: 5px;
        line-height: 1.1;
        font-size: 1.1rem;
    }

    .map-section .card-body .title-map-section span{
        color: #CDCDCD;
    }

.info-section{
    background: #fff;
    /* height: 1000px; */
}

    .info-section .card{
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        height: 100%;
        
    }

    .info-section .card .card-body{
        overflow-y: auto;
    }

.consultar-parcela-section{
    margin-bottom: 2rem;
}

    .consultar-parcela-section form{
        border: 1px solid #eeeeee;
        padding: 0 20px;
        border-radius: 5px;
        background: #F8F8F8;
        border: 0;
        width: 100%;
    }

    .consultar-parcela-section form input{
        font-weight: 300;
        color: var(--color-secondary);
    }

        .consultar-parcela-section form i{
            padding-right: 10px;
            color: #CDCDCD;
            line-height: 3;
            
        }

.indices-atributos-capas-section{

}

    .indices-atributos-capas-section .nav.nav-pills{
        margin-top: 0 !important;
        margin-bottom: 2rem;

    }

    .indices-atributos-capas-section .nav.nav-pills .nav-item{
        display: block;
        flex: 1;
    }

    .indices-atributos-capas-section .nav.nav-pills .nav-link{
        background: transparent;
        color: #CDCDCD;
        font-weight: 600;
        font-size: 1.25rem;
        letter-spacing: 0;
        text-align: center;
        
    }

    .indices-atributos-capas-section .nav.nav-pills .nav-link.active{
        color: var(--color-primary);
        border-bottom: 2px solid var(--color-primary);
    }


    

    .indices-atributos-capas-section .nav.nav-pills .tab-content{
        
    }

    .switch-comparativo-container > label{
        color: var(--color-alternative);
        font-weight: 600;
    }

    .control-info-container{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    
    }
    
    .control-info-container label{
        margin-left: 0.3rem;
    }
    

    .control-info-container .indice-select{
    /* background-color: var(--color-alternative) !important; */
    /* background-color: var(--theme-default) !important;
    color: #fff !important; */
    background-color: #fff !important;
    color: var(--color-secondary) !important;
    font-weight: 600;
    margin-left: 0.3rem;
}



.control-info-container .form-control{
    border-radius: 5px;
    background: #F8F8F8 !important;
    border: 0 !important;
    margin-left: 0.3rem;
    color: var(--color-secondary) !important;
    font-weight: 300;
}

.control-info-container .form-control::placeholder{
    font-weight: 500 !important;
    color: #CDCDCD !important;
    letter-spacing: 0 !important;
}

.control-info-container label.form-label{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
    color: #0B2C13;
}

.control-info-container .periodo-section .actualizar-btn-container{
    margin-left: 1rem;
}

.parametros-climaticos-section .m-checkbox-inline{
    display: flex;
    flex-direction: column;
}

.parametros-climaticos-section div label i{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: var(--color-alternative);
    /* color: #CDCDCD; */

}

#pills-atributos p{
    color: #A8A8A8;
}

#pills-atributos span{
    font-weight: 500;
}



.consultar-parcela-section .dropdown-content{
    display: none;
    align-items: center;
    position: absolute;
    top: 18%;
    width: 80%;
    /* min-height: 50px; */
    max-height: 300px;
    /* border: 1px solid #ddd; */
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 1rem;
    height: auto;
    z-index: 998;
    box-shadow: 0 50px 100px rgb(50 50 93 / 10%), 0 15px 35px rgb(50 50 93 / 15%), 0 5px 15px rgb(0 0 0 / 10%);
    /* background: linear-gradient(87deg,#11cdef 0,#1171ef 100%)!important; */
    background: #fff;
}

.consultar-parcela-section .dropdown-content .list-group-item{
    padding: 1rem 2rem;
    cursor: pointer;
}

.consultar-parcela-section .dropdown-content .list-group-item img{
    object-fit: cover;
}

.consultar-parcela-section .dropdown-content a{
    color: var(--color-secondary);
    text-decoration: none;
    letter-spacing: 1px;

}

.consultar-parcela-section .dropdown-content a h6{
    color: inherit;
    margin-bottom: 5px;
    font-size: 16px;
}

.consultar-parcela-section .dropdown-content p{
    color: #a2a1a1;
    margin-bottom: 0;

}

.contenedor-grafica{
    padding: 1%;
}

#grafica-parametros{
    max-height: 100%;
    height: 100%;
}

#grafica-parametros > div{

}

.map-text-indice{
    text-transform: uppercase !important;
}

.loader-indices {
    position: fixed;
    z-index: 999999;
    background: #fff;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .loader-indices .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* border: 4px solid transparent;
    border-top-color: #3e5fce; */
    /* -webkit-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite; */
  }

  .loader-indices .loader img{
    width: 100%;
    -webkit-animation: load-indices 2s linear infinite;
    animation: load-indices 2s linear infinite;
  }
  /* .loader-indices .loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #3e5fce;
    -webkit-animation: loader 3s linear infinite;
            animation: loader 3s linear infinite;
  }
  .loader-indices .loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #3e5fce;
    -webkit-animation: loader 1.5s linear infinite;
            animation: loader 1.5s linear infinite;
  } */
  @-webkit-keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes load-indices {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    0%{
        opacity: 1;
    }
  }